article {
    margin: 60px auto;
}

/* Cabecera más estrecha */
.article-header {
    max-width: 700px;
    margin: 0 auto 40px auto;
}

/* Cuerpo más ancho */
.article-body {
	text-align: justify;
    max-width: 1000px;
    margin: 0 auto;
    margin-left: 215px;
    line-height: 1.8;
    font-size: 1.1rem;
}

article h1 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

article p {
    margin-bottom: 20px;
	font-size: 0.93rem
}

article img {
    width: 100%;
    margin: 15px 0;
}

.post-meta {
    display: flex;
    gap: 15px; /* espacio entre autor y fecha */
    font-size: 0.8rem;
    opacity: 0.7;
	color: #666;
}

@media (max-width: 768px) {
    .article-body {
        margin: 0 16px;
        font-size: 1rem;
    }
}
}